bank-client/bank-client/Connected Services/ServiceReference1/Bank_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Bank_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52838/Bank_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52838/Bank_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52838/Bank_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bank_service.Dto" />
      <xsd:import schemaLocation="http://localhost:52838/Bank_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/bank_service.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBank_Service_GetInfoAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAccount" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_GetInfoAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Transfers_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfers" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Transfers_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransfersResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_SendOtp_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOtp" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_SendOtp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOtpResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_transactionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:transactionHistory" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_transactionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:transactionHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBank_Service">
    <wsdl:operation name="GetInfoAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/GetInfoAccount" message="tns:IBank_Service_GetInfoAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/GetInfoAccountResponse" message="tns:IBank_Service_GetInfoAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/Register" message="tns:IBank_Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/RegisterResponse" message="tns:IBank_Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/Login" message="tns:IBank_Service_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/LoginResponse" message="tns:IBank_Service_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transfers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/Transfers" message="tns:IBank_Service_Transfers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/TransfersResponse" message="tns:IBank_Service_Transfers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOtp">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/SendOtp" message="tns:IBank_Service_SendOtp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/SendOtpResponse" message="tns:IBank_Service_SendOtp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transactionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/transactionHistory" message="tns:IBank_Service_transactionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/transactionHistoryResponse" message="tns:IBank_Service_transactionHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBank_Service" type="tns:IBank_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoAccount">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/GetInfoAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfers">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/Transfers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOtp">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/SendOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transactionHistory">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/transactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bank_Service">
    <wsdl:port name="BasicHttpBinding_IBank_Service" binding="tns:BasicHttpBinding_IBank_Service">
      <soap:address location="http://localhost:52838/Bank_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>