bank-client/bank-client/Connected Services/ServiceReference1/Bank_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52838/Bank_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bank_service.Dto" />
  <xs:import schemaLocation="http://localhost:52838/Bank_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/bank_service.Entity" />
  <xs:element name="GetInfoAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bank_service.Dto" minOccurs="0" name="GetInfoAccountResult" nillable="true" type="q1:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bank_service.Dto" minOccurs="0" name="account" nillable="true" type="q2:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bank_service.Dto" minOccurs="0" name="loginDto" nillable="true" type="q3:LoginDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bank_service.Dto" minOccurs="0" name="LoginResult" nillable="true" type="q4:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bank_service.Dto" minOccurs="0" name="transfer" nillable="true" type="q5:TransferDto" />
        <xs:element minOccurs="0" name="otp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransfersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/bank_service.Dto" minOccurs="0" name="TransfersResult" nillable="true" type="q6:TransferDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOtpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bank_service.Entity" minOccurs="0" name="transactionHistoryResult" nillable="true" type="q7:ArrayOfTransactionHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>